<div class="layout-container" infiniteScroll  [infiniteScrollDistance]="2" (scrolled)="onScroll()">
  <ngx-masonry class="gallery" [options]="{ fitWidth: true, gutter: 10, }">
    <div ngxMasonryItem class="masonry-item gallery-item" *ngFor="let collection of collections">
      <mat-card (click)="collectionClicked(collection)">
        <img  mat-card-image [src]="collection.cover_photo.urls.small" [alt]="collection.cover_photo.description" />
        <mat-card-content>
          <p class="title">{{ collection.title }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </ngx-masonry>
</div>