.mat-app-background {
  background-color: #e3e3e3;
}

.mat-toolbar {
  span,
  button {
    margin: 0 1rem 0 0;
  }
}

.breadcrumbItem {
  cursor: pointer;
  color: grey;
  text-decoration: none;
}

.breadcrumbItem:hover {
  color: #7b7bff;
}

.breadcrumbs {
  a {
    padding: 0 16px;
    line-height: 36px;
    cursor: pointer;
    text-decoration: none;

    &.active {
      span {
        cursor: pointer;
      }
      span:hover {
        color: #7b7bff;
      }
    }
  }
}

.gallery {
  margin: 0 auto;
  width: auto;
  
  .gallery-item {
    margin: 12px;
    border-radius: 2px;
    cursor: pointer;
    
    &:hover {
      box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.14), 0 8px 8px 0 rgba(0, 0, 0, 0.12) !important;
      transform: translate3d(0, 0, 0);
      transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 46px;
  padding: 0px !important;
  background-color: #ebebeb;
}

.title {
  font-size: 1.2rem;
  color: #333;
}

.item-margins {
  margin: 0px !important;
}

.likes-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.likes-container mat-icon {
  vertical-align: bottom;
  padding-right: 5px;
}

.likes-container .title {
  margin: 10px;
  line-height: 1.5;
}

.masonry-item { width: auto; }